body{
    min-height: 100vh;
    margin: 0;
    background: url(img/character-img/characterbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 47% 10%;
}

h1{
    color: white;
    font-family: "Pixelify Sans";
    text-align: center;
    font-size: 3.5em;
    text-shadow: 3px 3px black;
    padding: 1rem;
}
.character-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem auto;
    background-color: #5A2CA0;
    width: 40%;
    min-width: 20rem;
    max-width: 40rem;
    height: 9rem;

    box-shadow: 8px 8px black;
}

.character-img{
    height: 50px
}