body{
    margin: 0px;
}


/*Header Section Mobile Optimization */
.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url(img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75%;
    color: white;
    font-family: "Pixelify Sans";
    font-weight: lighter;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}
.title-container
h3{
    font-size: 0.625em;
}
.title-container h1,
.title-container h3 {
    margin: 5px;
    text-shadow: 2px -3px black;
}

.header-selections{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.header-selections li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    width: 5rem;
    min-width: none;
    height: 2em;
    border: 3px solid var(--dark);
    box-shadow: 4px 4px 0 var(--dark);
    text-shadow: 2px 2px 0 black;
}

.header-selections li:hover {
    color: #D3F5F5;
    cursor: pointer;
    transform: translateY(-2px);
}

@media(min-width: 800px){
    .heading-container{
        background: url(img/header-webversion.png);
        flex-direction: row;
        justify-content: space-between;
        background-position: center center;
        background-size: 70%;
        min-height: 25%;
    }
    .title-container,.header-selections{
        margin: 0.9375em 7%;
        font-size: 2.25em;
    }
    .header-selections{
        font-size: 1.35em;
    }
}


/* Sign Up Section*/

form {
    margin: 0;
  }
  
  .hero-container {
    background-image: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url("img/hero-img.png");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-image: url("img/signup-background.png");
    background-size: 115% 135%;
    background-repeat: no-repeat;
    background-position: center;
  
    width: 360px;
    height: 420px;
  
    padding: 105px 40px 45px;
    box-sizing: border-box;
  }
  

  .form-name {
    display: flex;
    gap: 10px;
    margin-bottom: 1px;
  }
  
  .form-name input {
    width: 50%;
  }
  
  .form-row {
    margin-bottom: 10px;
  }
  
  .gender-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: "Pixelify Sans";
    background-color: #cbc3e3;
    color: black;
    border: 0.2rem solid #700070;
    margin-top: 2rem;
  }
  
  .form-inner input{
    border: 0.3125rem solid #cbc3e3;
    padding: 0.3215rem;
    font-family: "Pixelify Sans";
  }
  .form-inner input:focus{
    outline:none;
    border-color: #8a71ec;
    background-color: #e6e8ec;
  }

  #birthday{
    min-width: 70%;
    margin-top: 1.2rem;
  }

  .submit-form{
    display: block;
    margin: 3rem auto;
    background-color: #700070	;
    border: 0.2rem solid #cbc3e3;
    color: white;
    font-family: "Pixelify Sans";
    font-size: 2rem;
    width: 100%;
    height: 4rem;
  }
  
  .submit-form:hover{
    background-color: #cbc3e3;
    cursor: pointer;
    transform: translateY(-2px);
  }

  @media (min-width: 800px) {
    .hero-container {
      min-height: 75vh;
    }
  
    .form-container {
      width: 520px;
      height: 600px;
      padding: 150px 60px 60px;
    }
  
    .form-name {
      gap: 16px;
      margin-bottom: 8px;
    }
  
    .form-inner input {
      font-size: 1.1rem;
      padding: 0.5rem;
    }
  
    #birthday {
      margin-top: 1.5rem;
    }
  
    .gender-row {
      margin-top: 2.5rem;
      font-size: 1.3rem;
      padding: 0.4rem;
    }
  
    .submit-form {
      margin-top: 4rem;
      font-size: 2.5rem;
      height: 5rem;
    }
  }

  